In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

df1 = pd.read_csv('C:/Users/HCL/Desktop/archive/covid_19_india.csv')
df1.head()

In [3]:
df2 = pd.read_csv('C:/Users/HCL/Desktop/archive/StatewiseTestingDetails.csv')
df2.head()

         Date                        State  TotalSamples Negative  Positive
0  2020-04-17  Andaman and Nicobar Islands        1403.0     1210      12.0
1  2020-04-24  Andaman and Nicobar Islands        2679.0      NaN      27.0
2  2020-04-27  Andaman and Nicobar Islands        2848.0      NaN      33.0
3  2020-05-01  Andaman and Nicobar Islands        3754.0      NaN      33.0
4  2020-05-16  Andaman and Nicobar Islands        6677.0      NaN      33.0

In [7]:
df1.count()

Sno                         9291
Date                        9291
Time                        9291
State/UnionTerritory        9291
ConfirmedIndianNational     9291
ConfirmedForeignNational    9291
Cured                       9291
Deaths                      9291
Confirmed                   9291
dtype: int64

In [8]:
df2.count()

Date            8066
State           8066
TotalSamples    8066
Negative        4294
Positive        4866
dtype: int64

In [9]:
df1.describe()

               Sno         Cured        Deaths     Confirmed
count  9291.000000  9.291000e+03   9291.000000  9.291000e+03
mean   4646.000000  7.863266e+04   1487.620385  9.183978e+04
std    2682.225009  1.931102e+05   4713.813690  2.166014e+05
min       1.000000  0.000000e+00      0.000000  0.000000e+00
25%    2323.500000  1.520000e+02      2.000000  5.385000e+02
50%    4646.000000  4.308000e+03     66.000000  6.832000e+03
75%    6968.500000  5.772650e+04    926.500000  7.885600e+04
max    9291.000000  1.737080e+06  47827.000000  1.859367e+06

In [10]:
df2.describe()

       TotalSamples      Positive
count  8.066000e+03  4.866000e+03
mean   1.503140e+06  4.317863e+04
std    2.709261e+06  1.536970e+05
min    5.800000e+01  0.000000e+00
25%    4.659300e+04  3.632500e+02
50%    2.604005e+05  2.928500e+03
75%    1.780533e+06  2.223100e+04
max    2.062145e+07  1.638961e+06

###### Lets see all the unique states in df1

In [25]:
states = df1['State/UnionTerritory'].unique()
df1.groupby(df1['State/UnionTerritory']).count()

,Sno,Date,Time,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
State/UnionTerritory,,,,,,,,
Andaman and Nicobar Islands,259,259,259,259,259,259,259,259
Andhra Pradesh,273,273,273,273,273,273,273,273
Arunachal Pradesh,251,251,251,251,251,251,251,251
Assam,253,253,253,253,253,253,253,253
Bihar,263,263,263,263,263,263,263,263
Cases being reassigned to states,60,60,60,60,60,60,60,60
Chandigarh,265,265,265,265,265,265,265,265
Chandigarh***,1,1,1,1,1,1,1,1
Chhattisgarh,266,266,266,266,266,266,266,266
Dadar Nagar Haveli,37,37,37,37,37,37,37,37
Dadra and Nagar Haveli and Daman and Diu,181,181,181,181,181,181,181,181
Daman & Diu,1,1,1,1,1,1,1,1
Delhi,283,283,283,283,283,283,283,283
Goa,259,259,259,259,259,259,259,259
Gujarat,265,265,265,265,265,265,265,265
Haryana,281,281,281,281,281,281,281,281
Himachal Pradesh,264,264,264,264,264,264,264,264
Jammu and Kashmir,276,276,276,276,276,276,276,276
Jharkhand,253,253,253,253,253,253,253,253
Karnataka,276,276,276,276,276,276,276,276
Kerala,315,315,315,315,315,315,315,315
Ladakh,278,278,278,278,278,278,278,278
Madhya Pradesh,264,264,264,264,264,264,264,264
Maharashtra,275,275,275,275,275,275,275,275
Maharashtra***,1,1,1,1,1,1,1,1
Manipur,261,261,261,261,261,261,261,261
Meghalaya,240,240,240,240,240,240,240,240
Mizoram,260,260,260,260,260,260,260,260
Nagaland,207,207,207,207,207,207,207,207
Odisha,269,269,269,269,269,269,269,269
Puducherry,267,267,267,267,267,267,267,267
Punjab,275,275,275,275,275,275,275,275
Punjab***,1,1,1,1,1,1,1,1
Rajasthan,282,282,282,282,282,282,282,282
Sikkim,200,200,200,200,200,200,200,200
Tamil Nadu,278,278,278,278,278,278,278,278
Telangana,45,45,45,45,45,45,45,45
Telangana***,1,1,1,1,1,1,1,1
Telengana,236,236,236,236,236,236,236,236
Telengana***,1,1,1,1,1,1,1,1
Tripura,247,247,247,247,247,247,247,247
Unassigned,3,3,3,3,3,3,3,3
Uttar Pradesh,281,281,281,281,281,281,281,281
Uttarakhand,270,270,270,270,270,270,270,270
West Bengal,267,267,267,267,267,267,267,267